/* CSS style sheet for HW2 - Business Site */
/* Primary Styling for Amaro Cafe Website */

body{
    background-color:#fffef9;
    color:#555555;
    font-family: Consolas,"courier new";
    font-size:15px;
    line-height:1.0;
    margin:0;
}

span{
    font-weight:bold;
}

a{
    text-decoration: none;
    color: #1f1f35;
}

a:visited{
    color:#1f1f35;
}

a:hover{
    text-decoration: underline;
}

.container{
    width:70%;
    margin:auto;
    overflow:hidden;
}

/* Style for Navigation Bar */
#navbar{
    position:fixed; 
    width:100%;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color:#000000;
    color:#ffffff;
}

#navbar ul{
    list-style:none;
    padding:0;
}

#navbar a{
    text-decoration:none;
    color:#ffffff;
    font-weight: lighter;
    margin:10px;
}

#navbar a:hover{
    text-decoration:underline;
}

#navbar li{
    display:inline;
}

/* Style for primary page image */
#showcase{
    width:100%;
    background-image: url("../images/patrick-tomasso-GXXYkSwndP4-unsplash.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    max-height:450px;
    margin-bottom:20px;
    text-align:center;
}

#showcase h1{
    color:white;
    font-size:40px;
    font-family: "Lucida Calligraphy", cursive;
    font-weight: lighter;
    line-height: 1.2;
    margin-top: 300px;
    background: rgba(00, 00, 00, 0.45);
}

/* Styling for main page title on page */
#main h1{
    box-sizing:border-box;
    width:30%;
    margin-left: 37.5%;
    margin-right: 37.5%;

    font-size:30px;
    font-weight: lighter;
    color:#ffffff;
    background: #000000;
    text-align: center;
}


/* Styling for Page's footer */
#main-footer{
    background:#000000;
    color:#ffffff;
    text-align:center;
    margin-top: 50px;
    padding-bottom:50px;
    padding-top: 20px;
}

#main-footer ul{
    list-style:none;
    padding:0;
}

#main-footer li{
    display:inline;
}

#main-footer li img{
    width:30px;
    height:30px;
    margin-left:5px;
    margin-right:5px;
}

#main-footer a:hover{
    opacity: 0.5;
}


/* Adjust floating when window sizes changes */
/* More about media queries: https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries */
/* apply these when width is at most 600px */
@media(max-width:600px){

}