/* Additional styling for Amaro's Menue Page */

/* New page image */
#showcase{
    background-image: url("../images/nathan-dumlao-pnmRtTHWqDM2-unsplash.jpg");
}

/* Food and Drink Menu */
#food-drink-menu{
    box-sizing: border-box;
    margin-right: 15%;
    margin-left: 15%;
}

#food-drink-menu ul{
    padding:0;
    margin-left:10%;
    list-style:none;
    font-size: 20px;
}

#food-drink-menu li{
    margin-bottom:25px;
    border-bottom: 1px dotted #000000;
}


#food-drink-menu span{
    float: right; 
    font-weight: lighter;
    font-style: oblique;
    background-color:#7a7a7a;
    color:#fffef9;
    border-radius: 10%;
}

/* Customizable menu options */
.menu-options{
    width: 70%;
    font-style: italic;
    margin-left: 15%;
    margin-right: 15%;
}

.menu-options ul{
    padding:0;
    list-style:none;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.menu-options li{
    display: inline;
    margin-left: 10px;
    margin-right:10px;
}