/* Additional Styling for Amaro Cafe Ballroom Cafe page */

/* New page image */
#showcase{
    background-image: url("../images/clem-onojeghuo-zlABb6Gke24-unsplash.jpg");
}

#ballroom{
    box-sizing: border-box;
    border-radius: 25%;
    line-height: 1.2;
}

#ballroom h2{
    text-align: center;
}

#dancer{
    width: 70%;
    height:500px;
    text-align: center;
}